*.json linguist-detectable=true
*.sql linguist-detectable=true
*.toml linguist-detectable=true
*.yaml linguist-detectable=true
*.yml linguist-detectable=true
*.in linguist-detectable=true
*.cff linguist-detectable=true
